<?xml version="1.0" encoding="UTF-8"?>
<configuration debug="false" scan="true">

	<property name="DEV_HOME" value="D:/api_services/log/otp" />

	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<layout class="ch.qos.logback.classic.PatternLayout">
			<pattern>%d %-5level [%thread] %logger{0}: %msg%n</pattern>
		</layout>
	</appender>

	<logger name="org.springframework.web" level="DEBUG" />

	<appender name="FILE-AUDIT"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/txn_log.txt</file>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d [%thread] %-5level %logger{36}.%method - %m
				%throwable{0}%n
			</Pattern>
		</encoder>

		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/txn_log_%d{yyyy-MM-dd}.%i.txt
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>3</maxHistory>
		</rollingPolicy>

	</appender>

	<appender name="FILE-ERROR"
		class="ch.qos.logback.core.rolling.RollingFileAppender">
		<file>${DEV_HOME}/txn_error.txt</file>
		<filter class="ch.qos.logback.classic.filter.LevelFilter">
			<level>ERROR</level>
			<onMatch>ACCEPT</onMatch>
			<onMismatch>DENY</onMismatch>
		</filter>
		<encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
			<Pattern>
				%d [%thread] %-5level %logger{36}.%method - %m%n
			</Pattern>
		</encoder>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<!-- rollover daily -->
			<fileNamePattern>${DEV_HOME}/txn_error_%d{yyyy-MM-dd}.%i.txt
			</fileNamePattern>
			<timeBasedFileNamingAndTriggeringPolicy
				class="ch.qos.logback.core.rolling.SizeAndTimeBasedFNATP">
				<maxFileSize>50MB</maxFileSize>
			</timeBasedFileNamingAndTriggeringPolicy>
			<maxHistory>3</maxHistory>
		</rollingPolicy>
	</appender>

	<appender name="ASYNC" class="ch.qos.logback.classic.AsyncAppender">
		<appender-ref ref="FILE-AUDIT" queueSize="10" />
	</appender>

	<root level="DEBUG">
		<appender-ref ref="CONSOLE" />
	</root>

	<logger name="th.co.tac.api.otp" level="DEBUG" additivity="true">
		<appender-ref ref="ASYNC" />
		<appender-ref ref="FILE-ERROR" />
	</logger>
	
	<logger name="org.springframework" level="INFO" additivity="true"/>

</configuration>